*.iml
.DS_Store
*.o
*.hi
out/
.idea/
haskell/src/Problem_001
haskell/src/Problem_002
haskell/src/Problem_003
haskell/src/Problem_004
haskell/src/Problem_021
haskell/src/Problem_022
haskell/src/Problem_024
haskell/src/Problem_025
haskell/src/Problem_026
haskell/src/Problem_029
haskell/src/snippets/capslocker
haskell/src/snippets/fastPrimes
haskell/src/snippets/getLine
haskell/src/snippets/hGetContents
haskell/src/snippets/interact
haskell/src/snippets/let
haskell/src/snippets/print
haskell/src/snippets/putStrLn
haskell/src/snippets/readFile
haskell/src/snippets/reverser
haskell/src/snippets/withFile
haskell/src/snippets/writeFile
haskell/src/Problem_028
haskell/src/Problem_030